/*
 * NColour
 * Scott Greenlay
 */

* {
	margin: 0;
	padding: 0;
	font-family: 'Strait', sans-serif;
}

body {
	background: #333;
}

#content {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -350px;
	width: 700px;
	height: 400px;
	background: #cccccc;
}

#content #menu {
	position: absolute;
	left: 15px;
	top: -4px;
	height: 34px;
	background: gray;
	color: white;
	font-size: 25px;
}

#content #menu ul {
	list-style-type: none;
}

#content #menu ul li {
	float: left;
	list-style: none;
	display: inline-block;
	padding: 2px 8px;
	text-align: center;
}

#content #menu ul .button {
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	font-size: 22px;
}

#content #menu ul .button a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 2px;
	color: inherit;
	background: #444;
	text-decoration: none;
}

#content #menu ul .button a:hover {
	color: inherit;
	color: black;
	background: white;
}

#content #currentround {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -100px;
	width: 80px;
	height: 200px;
}

#content .round {
	position: absolute;
	height: 80px;
	width: auto;
}

#content #truth {
	position: absolute;

	padding: 5px;
	height: 30px;
	width: 30px;
	outline: 5px #ddd solid;
}

#content #player1 #truth {
	left: -55px;
	top: 40px;
}

#content #player2 #truth {
	left: 95px;
}

#content #truth a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
}

#content #lie {
	padding: 5px;
	height: 70px;
	width: 70px;
	outline: 5px #ddd solid;
}

#content #lie a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
}

#content .playerspace ul li {
	float: left;
	list-style: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	left: 0;
	margin-right: 5px;
	padding: 10px;
	font-size: 45px;
	text-align: center;
	color: white;
}

#content .player {
	height: 80px;
	width: auto;
	position: absolute;
	left: 50%;
	margin-left: -155px;
}

#content #player1 {
	bottom: 10px;
}

#content #player2 {
	top: 10px;
}

#content .player .label {
	position: absolute;
	left: 320px;
	top: 20px;
	font-size: 30px;
	width: 100px;
}

#content .player #cardspace {
	position: absolute;
	width: 305px;
	height: 80px;
	overflow: hidden;
	background: white;
}

#content .player ul {
	list-style-type: none;
	padding: 5px 0 5px 5px;
	height: 65px;
	width: 375px;
}

#content #numbers {
	position: absolute;
}

#content #numbers li {
	padding: 0px;
	width: 70px;
	height: 70px;
}

#content #numbers p {
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
	color: inherit;
	text-decoration: none;
	background: transparent;
}

#content #numbers a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
	color: inherit;
	text-decoration: none;
	background: transparent;
}

#content #numbers a:hover {
	background: rgba(255, 255, 255, 0.35);
}

#content #numbers .points {
	position: absolute;
	width: auto;
	height: auto;
	font-size: 12px;
	margin: 0;
	padding: 5px;
	text-align: right;
}

#content #colours {
	position: absolute;
}

#content .colourBlank {
	background: #bbb;
}

#content .colour1 {
	background: #03a688;
}

#content .colour2 {
	background: #f2ac29;
}

#content .colour3 {
	background: #f2762e;
}

#content .colour4 {
	background: #f23535;
}

#content #scoreoverlay {
	position: absolute;
	/*visibility: hidden;*/
	width: 100%;
	height: 100%;
	color: #aaa;
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
}

#content #scoreoverlay h1 {
    margin-top: 100px;
	font-size: 100px;
}

#content #scoreoverlay h2 {
	font-size: 60px;
}

#footer {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: 0px;
	height: 20px;
	padding: 5px;
	color: #666;
	width: 300px;
	text-align: center;
}

#footer a {
	color: #888;
	text-decoration: none;
}

#footer a:hover {
	color: white;
}
